.map {
    border: 4px dashed #999; 
    border-radius: 4px; 
    background-color: #333; 
    color: #999; 
    margin: auto;
    padding: auto;
    height: 50%;
    width: 50%;
    font-family: 'Courier New', Courier, monospace 
}
